<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Error </title>
    <link rel="icon" type="image/x-icon" href="/Content/assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/css/pages/error/style-400.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    
</head>
<body class="error404 text-center">
    
@RenderBody()
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="/Content/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="/Content/bootstrap/js/popper.min.js"></script>
<script src="/Content/bootstrap/js/bootstrap.min.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>