
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
    <div class="widget widget-card-four">
        <div class="widget-content">
            <div class="w-content">
                <div class="w-info">
                    <h6 class="value">Alış: ₺ @TempData["Dolar"] / Satış: ₺ @TempData["DolarBuying"]</h6>
                    <p class="">Dolar Kuru</p>
                </div>
                <div class="">
                  
                    <img src="/Content/assets/img/us.png" class="flag-width" alt="flag" width="50" height="50">
                   
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 layout-spacing">
    <div class="widget widget-card-four">
        <div class="widget-content">
            <div class="w-content">
                <div class="w-info">
                    <h6 class="value">Alış : ₺ @TempData["Euro"] / Satış :  ₺ @TempData["EuroBuying"] </h6>
                    <p class="">Euro Kuru</p>
                </div>
                <div class="">
                    <img src="/Content/assets/img/eu.png" class="flag-width" alt="flag" width="50" height="50">
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-one">
        <div class="widget-heading">
            <h6 class="">İstatistikler</h6>
        </div>
        <div class="w-chart">
            <div class="w-chart-section">
                <div class="w-detail">
                    <p class="w-title">Toplam Ziyaretçi</p>
                    <p class="w-stats">0</p>
                </div>
                <div class="w-chart-render-one">
                    <div id="total-users"></div>
                </div>
            </div>

            <div class="w-chart-section">
                <div class="w-detail">
                    <p class="w-title">Aylık Ziyatretçi</p>
                    <p class="w-stats">0</p>
                </div>
                <div class="w-chart-render-one">
                    <div id="paid-visits"></div>
                </div>
            </div>
        </div>
    </div>
</div>

 